div#entries, #form {
	margin: auto;
	width: 50%;
}

.card {
	margin-bottom: 2em;
}

.card-title {
	margin-bottom: 0;
}

.card-email {
	border-top: 1px solid #cdcdcd;
	padding-left: 15px;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: #f8f9fa;
}

.date {
	font-size: 0.8em;
}

blockquote {
	margin: 0;
}

form#form {
	padding: 0 1.25em;
}