div#entries, #form {
	margin: auto;
	width: 50%;
}

body {
	color: white;
	background-color: #121212;
}

.card-header, .card-body, .card-email, .card-footer{
	background-color: #282828;
	border-color: white;
}

.card-header {
	padding-right: 10px;
}

.card {
	margin-bottom: 2em;
}

.card-email {
	border-top: 1px solid #cdcdcd;
	padding-left: 15px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.date {
	font-size: 0.8em;
}

blockquote {
	margin: 0;
}

form#form {
	padding: 0 1.25em;
}

input[type=text], .form-control {
}

input[type=submit] {
	background-color: #555555;
	margin-top: 1em;
}

.btn {
	display: inline;
	float: right;
	padding: 0;
}

.btn-edit {
	display: inline;
	float: right;
	margin-right: 0.5em;
}

span {
	color: white;
}
